.details-btn{
    width: 103px;
    position: relative;
    height: 33px;
    font-size: 14px;
}

.proj-h{
    font-size: 1em;
    color: #5c4d4d;
    font-weight: bold;
    margin-left: 6px;
}

.content {
    font-size: 0.7em;
    line-height: 7px;
}